<% layout('layout')%>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 align="center"><%= name%></h3>
            <h5 align="center">by <%= author%></h5>
            <br>
            <table class="table table-sm table-bordered"  style="text-align: left">
                <thead>
                <tr>
                    <th colspan="4" style="text-align: center">Leaderboard</th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Marks</th>
                </tr>
                </thead>
                <tbody>
                <% for(var i=0;i<results.length;i++){%>
                <tr>
                    <th scope="row"><%= (i+1)%></th>
                    <td><%= results[i].examinee.profile.name%></td>
                    <td><%= results[i].marks%></td>
                </tr>
                <%}%>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <br>
    <br>
    <ul class="pagination-lg text-center" style="list-style-type: none">
        <li>
            <% for(let i=1;i<=pages;i++) { %>
            <a href="/leaderboard/?code=<%= code%>&page=<%= i%>"><%= i%></a>
            <% } %>
        </li>
    </ul>

</div>